<context id="TeleABM" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  	<context id="organicSpaceReceiving">
		<projection id="Grid" type="grid" />
		<projection id="CurrentOrganicReceiving" type="value layer" />
		<projection id="MaxOrganicReceiving" type="value layer" />
			<projection id="ElevationReceiving" type="value layer" />
		<projection id="Land Holder Field Receiving" type="value layer" />
			<projection id="Land Use Field Receiving" type="value layer" />
			
			<projection id="Trader Agent Field Receiving" type="value layer" />
			<projection id="temp zone Receiving" type="value layer"/>
			<projection id ="precipitation zone Receiving" type ="value layer" />
			
	
			<projection id = "soy suitability" type = "value layer"/>
			<projection id = "corn suitability" type = "value layer"/>
			<projection id = "rice suitability" type = "value layer"/>
			
    </context>
	
	<context id="organicSpaceSending">
	
	     	<projection id="gridSending" type = "grid" />
	     <projection id="CurrentOrganicSending" type="value layer" />
		<projection id="MaxOrganicSending" type="value layer" />
		<projection id="ElevationSending" type="value layer" />
		<projection id="Land Holder Field Sending" type="value layer" />
			<projection id="Land Use Field Sending" type="value layer" />
			
			<projection id="Trader Agent Field Sending" type="value layer" />
			<projection id="temp zone Sending" type="value layer"/>
			<projection id ="precipitation zone Sending" type ="value layer" />
			
			<projection id="land cover t2" type = "value layer"/>
			<projection id="land cover t1" type = "value layer"/>
			<projection id="single soy count" type = "value layer"/>
			<projection id="double soy count" type = "value layer"/>
			<projection id="cotton count" type = "value layer"/>
			<projection id="soy cotton count" type = "value layer"/> 
	     	
     </context>
		
</context>
